.user__form {
  display: grid;
  grid-template-columns: 80px 1fr;
  @apply items-center;
}
.user__form label {
  @apply text-sm uppercase font-bold;
}
.btn__create-user {
  grid-column: 2;
  @apply mt-2 max-w-full;
}
