/* product list on home page styles*/
@import './css/ProductList.css';
/*styles for searchbar*/
@import './css/SearchProducts.css';
/*styles for pagination on home page*/
@import './css/PaginationProducts.css';
/*styles for product-page*/
@import './css/TheProduct.css';
/*sytles for login-page*/
@import './css/TheLogin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  @apply bg-black text-white text-4xl;
}

body {
  @apply bg-[url('./ranek-assets/pattern.svg')] bg-repeat bg-top;
}

.btn {
  @apply block py-3 px-6 bg-[#87f] rounded-sm text-white text-center shadow-sm scale-90 border-none font-sans cursor-pointer hover:bg-[#65d] hover:scale-100;
}
#app {
  @apply flex flex-col min-h-screen;
}
main {
  @apply flex-1;
}
label {
  @apply mb-2;
}

input,
textarea {
  @apply rounded-sm border-2 border-white py-4 px-4 shadow-md transition-all text-lg mb-4 hover:outline-none focus:outline-none hover:shadow-xl focus:shadow-xl hover:border-2 focus:border-2 hover:border-[#87f] focus:border-[#87f];
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}
.fade-enter,
.fade-leave-to {
  @apply opacity-0;
}

.fade-enter {
  transform: translate3d(0, -20px, 0);
}
.fade-leave-to {
  transform: translate3d(0, 20px 0);
}
